<div class="container-fluid m-3">
  <div class="row">
    <div class="col">
      <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
        accept=".csv" />
    </div>
  </div>
  <div class="row" *ngIf="records.length">
    <div class="col">
      <form>
        <mat-form-field>
          <mat-label>Assignee</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSearchChange($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.file_id}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="table-container">
        <table mat-table [dataSource]="records" class="mat-elevation-z8" *ngIf="records.length > 0">
          <ng-container matColumnDef="file_id">
            <th mat-header-cell *matHeaderCellDef>File ID</th>
            <td mat-cell *matCellDef="let element"> {{element.file_id}} </td>
          </ng-container>
        
          <ng-container matColumnDef="genus">
            <th mat-header-cell *matHeaderCellDef>Genus</th>
            <td mat-cell *matCellDef="let element"> {{element.genus}} </td>
          </ng-container>
        
          <ng-container matColumnDef="species">
            <th mat-header-cell *matHeaderCellDef>Species</th>
            <td mat-cell *matCellDef="let element"> {{element.species}} </td>
          </ng-container>
        
          <ng-container matColumnDef="english_cname">
            <th mat-header-cell *matHeaderCellDef>English name</th>
            <td mat-cell *matCellDef="let element"> {{element.english_cname}} </td>
          </ng-container>
  
          <ng-container matColumnDef="who_provided_recording">
            <th mat-header-cell *matHeaderCellDef>Provider</th>
            <td mat-cell *matCellDef="let element"> {{element.who_provided_recording}} </td>
          </ng-container>
  
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container>
          
          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Latitude</th>
            <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
          </ng-container>
  
          <ng-container matColumnDef="longitute">
            <th mat-header-cell *matHeaderCellDef>Longitute</th>
            <td mat-cell *matCellDef="let element"> {{element.longitute}} </td>
          </ng-container>
  
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hoverRow" (click)="rowSelected(row)"></tr>
        </table>
      </div>
    </div>
    <div class="col-5">
        <iframe class="fixed-c" width="600" height="750" frameborder="0" style="border:0" [src]=sourceMap allowfullscreen></iframe>
    </div>
  </div>
</div>